<div class="container">

  <h1>About</h1>

  <p>
    Useless Comix are written and drawn by <strong>Dick Schiller</strong>.
    <br />
    <br />
    He lives alone in Alaska, deaf, with no kin to speak of. These comics
    fill his time.
    <br />
    <br />
    Dick would like to thank AOL, his scanner, and black ink for making
    these comics possible.
    <br />
  </p>

  <h4>Send hate mail <a href="mailto:dickschiller@uselesscomix.com">here.</a></h4>
</div>
