<% if @user.errors.any? %>
  <div id="error_explanation">
    <strong><p class="alert error-head">
      <%= pluralize(@user.errors.count, "error") %> prohibited you from
      being saved:
    </p></strong>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li class="alert error"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
