<h3>Archive</h3>

<ul>
  <% @comics.each do |comic| %>
    <li>
      <%= image_tag(comic.uri, height: '32', width: '32') %>
      <strong><%= comic.name %></strong> - <%= comic.created_at %>
    </li>

  <% end %>
</ul>
