/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize-rails
 *= require skeleton
 *= require font-awesome
 */

@import "font-awesome";

@font-face {
  font-family: 'bad-mofo';
  src: font-url('bad-mofo.ttf');
  src: font-url('bad-mofo.ttf') format('truetype');
}

body {
  background: url("paper_background.jpg");
  font-family: monospace !important;
}

li {
  list-style-type: none;
}

.cen-jus {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'bad-mofo', Fallback, sans-serif;
  font-size: 7rem;
  letter-spacing: .24rem;
}

.flash {
  border: 1px solid #00081A;
  padding: 1em;
  background: #eee;
}

.alert  { color: red;  }

.notice { color: blue; }

// Banner

.lead-banner {
  width: 100%;
}

// Nav Bar

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}

.nav-flex h1 {
  margin-bottom: -10px;
}

.empty-cell {
  flex-grow: 1;
}

.nav-cell {
  max-width: 30%;
  margin: 0 2%;
  color: ghostwhite;
  font-family: monospace;
}

.remove-color {
  color: ghostwhite;
  text-decoration: none;
  font-weight: bold;
}

.remove-color:hover {
  color: ghostwhite;
  text-shadow: 1.5px 1.5px blue, -1.5px -1.5px yellow, 1.5px -1.5px red;
}

.nav-top-container {
  width: 80%;
  margin: 0 auto;
  background-color: #00081A;
}

.fave-heart {
  color: #00081A;
  text-decoration: none;
}

.fave-heart:hover {
  color: #00089A;
  text-shadow: 1.7px 1.7px blue,
               -1.9px -1.9px yellow,
               1.7px -1.7px red;
}
