// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comic-nav-flex {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  padding: 0;
}

.comic-nav-cell {
  margin: 0;
  background-color: #00081A;
}

.comic-nav-cell .disabled {
  opacity: .8;
  background-color: lightgray;
}

.comic-nav-cell img {
  max-height: 65px;
}

.main-comic {
  height: 55vh;
}

.thumb-help {
  max-height: 20vh;
  max-width: 15vw;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: inherit;
}

#comics-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.spacing {
  min-width: 20px;
}

.responsive-disappear {
  display: none;
}

@media (min-width: 960px) {
  .responsive-disappear {
    display: flex;
  }

  .responsive-disappear img {
    display: initial;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .responsive-disappear {
    display: none;
  }

  .main-comic {
    height: auto;
    width: 65vw;
  }
}

// Archives
.set-center {
  vertical-align: middle;
}

.all-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.archive-row {
  width: 40%;
}

.link-recolor {
  color: #00080A;
  text-decoration: none;
}

.link-recolor:hover {
  color: #00080A;
  text-shadow: 1.5px 1.5px blue, -1.5px -1.5px yellow, 1.5px -1.5px red;
}
