// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comic-nav-flex {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  padding: 0;
}

.comic-nav-cell {
  margin: 0;
  background-color: #00081A;
}

.comic-nav-cell .disabled {
  opacity: .8;
  background-color: lightgray;
}

.comic-nav-cell img {
  max-height: 65px;
}

.main-comic {
  height: 55vh;
}

.thumb-help {
  max-height: 20vh;
  max-width: 15vw;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: inherit;
}

#comics-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.spacing {
  min-width: 20px;
}

.responsive-disappear {
  display: none;
}

@media (min-width: 960px) {
  .responsive-disappear {
    display: flex;
  }

  .responsive-disappear img {
    display: initial;
  }
}
