// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fave-row {
  width: 20%;
}

.fave-comic {
  width: 200px;
  margin: 5px;
}

.all-fave-comics {
  display: flex;
  flex-wrap: wrap;
}
